@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ibpbgj');
  src:  url('fonts/icomoon.eot?ibpbgj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ibpbgj') format('truetype'),
    url('fonts/icomoon.woff?ibpbgj') format('woff'),
    url('fonts/icomoon.svg?ibpbgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e910";
}
.icon-pwd:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
